<%= form_for(@person) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
  	<!-- first argument is what the param prefix is going to be called  -->
  	<!-- in this case we'd see person[attribute_name] -->
  	<!-- the second argument is the model object we want to bind the form to -->
  	<!-- in this case we've bound the fields_for to the same object as the form -->
  	<!-- this form works the same as the other form we created just using form_for -->

    <%= fields_for @person do |person_fields|%>
      	<%= person_fields.label :permission %><br>
  	    <%= person_fields.text_field :permission %>
  	<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
