<%= form_for(@person) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :permission %><br>
    <%= f.text_field :permission %>
  </div>
  <div class="field">
  <!-- if we want to get super clever we can use the collection with fields for -->
  	<%= f.fields_for :shirts do |shirt_fields|%>
      	<%= shirt_fields.label :atype %><br>
  	    <%= shirt_fields.text_field :atype %><br>
  	<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
